
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Welcome to FlyHigh Student System</h1>
      <br>
      <%= link_to fa_icon('graduation-cap', text: ' Student Login'), '#', class: 'btn btn-dark' %>
      <%= link_to fa_icon('shield', text: ' Admin Login'), '#', class: 'btn btn-dark' %>
    </div>
</header>